<!-- The Footer -->

<footer
  aria-label="Site Info"
  class="
    d-flex flex-column justify-content-center text-muted
    flex-lg-row justify-content-lg-between align-items-lg-center pb-lg-3
  "
>
  <p>
    {{- '©' }}
    <time>{{ 'now' | date: '%Y' }}</time>

    {% if site.social.links %}
      <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>.
    {% else %}
      <em class="fst-normal">{{ site.social.name }}</em>.
    {% endif %}

    {% if site.data.locales[include.lang].copyright.brief %}
      <span
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ site.data.locales[include.lang].copyright.verbose }}"
      >
        {{- site.data.locales[include.lang].copyright.brief -}}
      </span>
    {% endif %}
  </p>

  <p>Disclaimer: All content on this site, including opinions expressed, is my own and not that of my employer.</p>

  {% if site.data.build.commit %}
    <p>
      <a
        href="https://github.com/coderichardson/coderichardson.github.io/commit/{{ site.data.build.commit }}"
        target="_blank"
        rel="noopener"
      >commit {{ site.data.build.commit | truncate: 7, "" }}</a>
    </p>
  {% endif %}
</footer>
